*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#4facfe,
#00f2fe
);

}




.weather-app-section{

padding:50px 20px;

width:100%;

}



.section-title{

text-align:center;

color:white;

font-size:35px;

margin-bottom:30px;

}





.weather-container{

background:white;

width:350px;

padding:30px;

margin:auto;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,.2);

}




.weather-container h3{

margin-bottom:20px;

}




.search-box{

display:flex;

gap:10px;

}





input{

flex:1;

padding:12px;

border-radius:10px;

border:1px solid #ccc;

outline:none;

font-size:15px;

}




input:focus{

border-color:#007bff;

}





button{

padding:12px 15px;

border:none;

border-radius:10px;

background:#007bff;

color:white;

cursor:pointer;

transition:.3s;

}





button:hover{

background:#0056b3;

transform:scale(1.05);

}





.location-btn{

width:100%;

margin-top:15px;

background:#00a86b;

}





.location-btn:hover{

background:#007a4d;

}





#weatherLoading{

margin-top:15px;

color:#555;

}




#weatherError{

margin-top:15px;

color:red;

}





.weather-card{

margin-top:25px;

padding:20px;

background:#f5f9ff;

border-radius:15px;

}





#city{

font-size:25px;

}





#weatherIcon{

width:90px;

margin:15px;

display:none;

}





#temperature{

font-size:42px;

color:#007bff;

margin:10px;

}





#condition{

font-size:18px;

margin-bottom:20px;

}





.details{

display:flex;

justify-content:space-around;

font-size:14px;

}





.details span{

font-weight:bold;

}
